---
---

// start content

$blue: #1373BD;

@mixin clearfix() {
	*zoom:1;

	&:before,
	&:after {
		content:"";
		display:table;
	}
	&:after {
		clear:both;
	}
}

@mixin reset-list(){
	margin: 0;
	padding: 0;
	list-style: none;
}


// Test

.results{
	@include reset-list();
	font-size: 13px;
	-webkit-font-smoothing: antialiased;
	
	.result-item{

		.result-item-header{
			background: $blue;
			color: #fff;
			padding: 10px 16px;
			border-radius: 8px 8px 0 0;

			// @include clearfix();

			.result-item-price{
				font-size: 20px;
				margin-left: 10px;
				font-weight: 600;
			}
		}

		.result-item-body{
			background: #e3eaf3;
			padding: 10px 16px;
			color: #636B75;
			font-size: 11px;

			> div{
				display: inline-block;
				vertical-align: middle;

				&:nth-child(n+2){
					margin-left: 25px;
				}

				&.departure-city{
					width: 176px;
				}
			}

			.connections{
				@include reset-list();
				background: #fff;
				border-radius: 4px;
				margin: 8px -8px 0;

				> li{
					padding: 0 100px 0 8px;
					height: 40px;
					// text-align: justify;

					// &:after{
					// 	content: '';
					// 	width: 100%;
					// 	display: inline-block;
					// 	font-size: 0;
					// 	line-height: 0;
					// }

					&:nth-child(n+2){
						border-top: 1px solid #e3eaf3;
					}

					> *{
						display: inline-block;
						line-height: 40px;
						vertical-align: middle;

						&:nth-child(n+2){
							margin-left: 40px;
						}
					}

					.dep-arr-time{
						font-size: 16px;
						font-weight: 600;
					}

					.flight-number, .trip-duration, .stops{
						color: #92979C;
					}

					.trip-details{
						float: right;
					}
				}
			}
		}
	}

}

// test2

#flight-result{
	text-align: right;
}

.result{
	-webkit-font-smoothing: antialiased;
	margin-bottom: 12px;
	text-align: left;

	.result-header{
		background: $blue;
		color: #fff;
		border-radius: 8px 8px 0 0;
		padding: 10px 16px;
		@include clearfix;

		.result-price{
			font-size: 20px;
			line-height: 30px;
			font-weight: 600;
			margin-left: 10px;
			vertical-align: middle;
		}
	}

	.result-body{
		background: #E3EAF3;
		padding: 10px 16px 8px;
		color: #636B75;
		font-size: 12px;
		border-radius: 0 0 8px 8px;

		.departure-city, .arrival-city{
			display: inline-block;
			vertical-align: middle;
			margin-left: 24px;
			min-width: 176px;
		}

		.connections {
			background: #FFF;
			margin: 5px -8px 0;
			border-radius: 4px;

			.connections-item{
				display: block;
				padding: 10px 8px;
				font-weight: normal;
				line-height: 22px;
				margin: 0;
				cursor: pointer;
				@include clearfix;

				&:nth-child(n+2){
					border-top: 1px solid #e3eaf3;
				}

				> *:nth-child(n+2), input[type=radio]{
					margin-left: 40px;
					vertical-align: middle;
				}

				input[type=radio]{margin-top: 0;}

				.dep-arr-time{
					font-size: 16px;
					font-weight: 600;
				}

				.flight-number, .trip-duration, .stops{
					color: #92979C;
				}
			}
		}

		.result-header-arr{
			background: #81A1CF;
			color: #fff;
			padding: 10px 16px;
			margin: 8px -16px 8px;
			font-size: 14px;
		}
	}
}

.btn-lg{
	font-size: 14px;
}

// General img thumb

.thumb{
	display: inline-block;
	margin-right: 10px;

	> .thumb-rounded{
		border-radius: 4px;
	}
}
